        body {
            background-color: #ffffff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 950px;
            margin: 20px auto;
        }
        .header {
            background-color: #810100;
            border:3px solid #5a0104;
            padding: 10px 25px;
        }
        .header h1 {
            color: #ffffff;
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }
        .separator {
            border: 0;
            height: 0px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
            margin: 20px 0;
        }
        .text-block {
            padding: 25px;
            line-height: 1.6;
        }
        .text-block p {
            margin: 0;
        }
        .block-orange {
            background-color: #ffa800;
            color: #ffffff;
            border: 3px solid #e17607;
            font-size: 16px;
        }
        .block-yellow-dotted {
            background-color:#ffed3b;
            color: #ff0000;
            border: 3px dotted #E48A2D;
            border-radius: 25px;
            font-family: monotype corsiva, blackadderITC , cursive;
            font-style: italic;
            font-size: 15px;
        }
        .block-light-yellow {
            background-color: #f8f69f;
            color: #0000ff;
            border:1px soildcurve #F0E8C1;
            border-radius: 25px 0px 25px 0px;
            font-family: monotype corsiva, blackadderITC , cursive;
            font-style: italic;
            font-size: 15px;
        }